/*-------------------- NAV BAR --------------------*/
.nav_bar {
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
}
.nav_item {
  color: green;(8, 0, 255);
  font-family: "Lalezar", cursive;
  font-size: 1.5vw;
  margin: 0 3rem 0 3rem;
}
.nav_item:hover {
  color: rgb(232, 232, 164);
  cursor: pointer;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #282c34;
  color: white;
  padding: 40px;
  font-family: Arial;
  text-align: center;
}
